@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #0ea5e9;
}

.style {
  width: 8px;
  height: 8px;
}

.active-class {
  background-color: white;
  border-width: 0.01em;
  border-color: #cbd5e1;
}
